In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('CoronavirusNLP').getOrCreate()

In [3]:
data = spark.read.csv('Corona_NLP_train.csv', header = True)

In [4]:
data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
|            UserName|          ScreenName|            Location|             TweetAt|       OriginalTweet|Sentiment|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
|                3799|               48751|              London|          16-03-2020|@MeNyrbie @Phil_G...|  Neutral|
|                3800|               48752|                  UK|          16-03-2020|advice Talk to yo...| Positive|
|                3801|               48753|           Vagabonds|          16-03-2020|Coronavirus Austr...| Positive|
|                3802|               48754|                null|          16-03-2020|My food stock is ...|     null|
|              PLEASE|         don't panic| THERE WILL BE EN...|                null|                null|     null|
|           Stay calm|          stay safe.|                null|                null|                null|     null|
|#COVID19france #C...|            Positive|                null|                null|                null|     null|
|                3803|               48755|                null|          16-03-2020|Me, ready to go a...|     null|
|Not because I'm p...| but because my f...|          but please| don't panic. It ...|                null|     null|
|#CoronavirusFranc...|  Extremely Negative|                null|                null|                null|     null|
|                3804|               48756|ÜT: 36.319708,-82...|          16-03-2020|As news of the re...| Positive|
|                3805|               48757|35.926541,-78.753267|          16-03-2020|"Cashier at groce...| Positive|
|                3806|               48758|             Austria|          16-03-2020|Was at the superm...|     null|
|#toiletpapercrisi...|             Neutral|                null|                null|                null|     null|
|                3807|               48759|     Atlanta, GA USA|          16-03-2020|Due to COVID-19 o...| Positive|
|                3808|               48760|    BHAVNAGAR,GUJRAT|          16-03-2020|For corona preven...| Negative|
|                3809|               48761|      Makati, Manila|          16-03-2020|All month there h...|  Neutral|
|                3810|               48762|Pitt Meadows, BC,...|          16-03-2020|Due to the Covid-...|     null|
|The wait time may...| particularly bee...|                null|                null|                null|     null|
|We thank you for ...|  Extremely Positive|                null|                null|                null|     null|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [5]:
data.describe()

DataFrame[summary: string, UserName: string, ScreenName: string, Location: string, TweetAt: string, OriginalTweet: string, Sentiment: string]

In [6]:
data.columns

['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet', 'Sentiment']

In [7]:
print((data.count(),len(data.columns)))

(68046, 6)

In [8]:
#Data preparation

In [9]:
from pyspark.sql.functions import length

In [10]:
data = data.withColumn('Tweet_length', length(data['OriginalTweet']))

In [11]:
data.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------------+
|            UserName|          ScreenName|            Location|             TweetAt|       OriginalTweet|Sentiment|Tweet_length|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------------+
|                3799|               48751|              London|          16-03-2020|@MeNyrbie @Phil_G...|  Neutral|         111|
|                3800|               48752|                  UK|          16-03-2020|advice Talk to yo...| Positive|         237|
|                3801|               48753|           Vagabonds|          16-03-2020|Coronavirus Austr...| Positive|         131|
|                3802|               48754|                null|          16-03-2020|My food stock is ...|     null|          51|
|              PLEASE|         don't panic| THERE WILL BE EN...|                null|                null|     null|        null|
|           Stay calm|          stay safe.|                null|                null|                null|     null|        null|
|#COVID19france #C...|            Positive|                null|                null|                null|     null|        null|
|                3803|               48755|                null|          16-03-2020|Me, ready to go a...|     null|          60|
|Not because I'm p...| but because my f...|          but please| don't panic. It ...|                null|     null|        null|
|#CoronavirusFranc...|  Extremely Negative|                null|                null|                null|     null|        null|
|                3804|               48756|ÜT: 36.319708,-82...|          16-03-2020|As news of the re...| Positive|         249|
|                3805|               48757|35.926541,-78.753267|          16-03-2020|"Cashier at groce...| Positive|         184|
|                3806|               48758|             Austria|          16-03-2020|Was at the superm...|     null|          61|
|#toiletpapercrisi...|             Neutral|                null|                null|                null|     null|        null|
|                3807|               48759|     Atlanta, GA USA|          16-03-2020|Due to COVID-19 o...| Positive|         280|
|                3808|               48760|    BHAVNAGAR,GUJRAT|          16-03-2020|For corona preven...| Negative|         267|
|                3809|               48761|      Makati, Manila|          16-03-2020|All month there h...|  Neutral|         276|
|                3810|               48762|Pitt Meadows, BC,...|          16-03-2020|Due to the Covid-...|     null|          79|
|The wait time may...| particularly bee...|                null|                null|                null|     null|        null|
|We thank you for ...|  Extremely Positive|                null|                null|                null|     null|        null|
+--------------------+--------------------+--------------------+--------------------+--------------------+---------+------------+
only showing top 20 rows

In [12]:
sentiments= ['Positive','Negative','Neutral','Extremely Positive','Extremely Negative']

In [13]:
#data.groupby('Sentiment').mean().show()

In [14]:
df = data.filter(data.Sentiment.isin(sentiments))

In [15]:
df.select('Sentiment').distinct().show()

+------------------+
|         Sentiment|
+------------------+
|Extremely Negative|
|           Neutral|
|          Positive|
|          Negative|
|Extremely Positive|
+------------------+

In [16]:
df.select('Sentiment').distinct().count()

5

In [17]:
df.groupby('Sentiment').count().show()

+------------------+-----+
|         Sentiment|count|
+------------------+-----+
|Extremely Negative| 3751|
|           Neutral| 5224|
|          Positive| 7718|
|          Negative| 6857|
|Extremely Positive| 4412|
+------------------+-----+

In [18]:
df.groupby('Sentiment').mean().show()

+------------------+------------------+
|         Sentiment| avg(Tweet_length)|
+------------------+------------------+
|Extremely Negative| 209.6656891495601|
|           Neutral| 151.2949846860643|
|          Positive|193.66195905675045|
|          Negative| 189.6651596908269|
|Extremely Positive| 215.0605167724388|
+------------------+------------------+

In [19]:
df.groupby('Location').mean().show()

+--------------------+------------------+
|            Location| avg(Tweet_length)|
+--------------------+------------------+
|                 ...|             197.0|
| Mumbai, Maharashtra|154.66666666666666|
| Brisbane, Australia|             207.0|
|West Woofle-Dust ...|             157.0|
|   St Petersburg, FL|169.57142857142858|
| All across Michigan|             224.0|
|     Northumberland |             280.0|
|     stoke on trent |             187.0|
|some where around...|             126.0|
|           Bangalore|176.21052631578948|
|           Norn Iron|             244.0|
|Horsham, Pennsylv...|             189.0|
|       Shimla  India|              89.0|
|Ferrara, Emilia R...|             230.0|
|      Luton, England|             198.0|
|              Heaven|             198.0|
|       St George, UT|             188.0|
|Just to the left ...|             205.0|
|           Worcester|             258.5|
|      Nellore/Canada|             280.0|
+--------------------+------------------+
only showing top 20 rows

In [20]:
df.groupby('Location').count().show()

+--------------------+-----+
|            Location|count|
+--------------------+-----+
|                 ...|    1|
| Mumbai, Maharashtra|    3|
| Brisbane, Australia|    4|
|West Woofle-Dust ...|    1|
|   St Petersburg, FL|    7|
| All across Michigan|    1|
|     Northumberland |    1|
|     stoke on trent |    1|
|some where around...|    1|
|           Bangalore|   19|
|           Norn Iron|    1|
|Horsham, Pennsylv...|    1|
|       Shimla  India|    1|
|Ferrara, Emilia R...|    1|
|      Luton, England|    1|
|              Heaven|    1|
|       St George, UT|    1|
|Just to the left ...|    1|
|           Worcester|    2|
|      Nellore/Canada|    1|
+--------------------+-----+
only showing top 20 rows

In [21]:
df.show()

+--------+----------+--------------------+----------+--------------------+------------------+------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|         Sentiment|Tweet_length|
+--------+----------+--------------------+----------+--------------------+------------------+------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|           Neutral|         111|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...|          Positive|         237|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...|          Positive|         131|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...|          Positive|         249|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...|          Positive|         184|
|    3807|     48759|     Atlanta, GA USA|16-03-2020|Due to COVID-19 o...|          Positive|         280|
|    3808|     48760|    BHAVNAGAR,GUJRAT|16-03-2020|For corona preven...|          Negative|         267|
|    3809|     48761|      Makati, Manila|16-03-2020|All month there h...|           Neutral|         276|
|    3811|     48763|          Horningsea|16-03-2020|#horningsea is a ...|Extremely Positive|         278|
|    3813|     48765|                null|16-03-2020|ADARA Releases CO...|          Positive|         185|
|    3818|     48770|          Denver, CO|16-03-2020|For those who are...|          Positive|         184|
|    3819|     48771|southampton soxx xxx|16-03-2020|with 100  nations...|Extremely Negative|         251|
|    3823|     48775|    Downstage centre|16-03-2020|@10DowningStreet ...|          Negative|         255|
|    3824|     48776|              London|16-03-2020|UK #consumer poll...|Extremely Positive|         278|
|    3825|     48777|      Ketchum, Idaho|16-03-2020|In preparation fo...|          Negative|         202|
|    3826|     48778| Everywhere You Are!|16-03-2020|This morning I te...|Extremely Negative|         279|
|    3829|     48781|                null|16-03-2020|There Is of in th...|          Negative|         114|
|    3834|     48786|             Sverige|16-03-2020|Went to the super...|           Neutral|         122|
|    3836|     48788|              Canada|16-03-2020|Worried about the...|          Positive|         225|
|    3837|     48789|                null|16-03-2020|my wife works ret...|          Negative|         288|
+--------+----------+--------------------+----------+--------------------+------------------+------------+
only showing top 20 rows

In [22]:
print((df.count(),len(df.columns)))

(27962, 7)

In [23]:
from pyspark.sql.functions import isnan,when,count,col

In [24]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+--------+----------+--------+-------+-------------+---------+------------+
|UserName|ScreenName|Location|TweetAt|OriginalTweet|Sentiment|Tweet_length|
+--------+----------+--------+-------+-------------+---------+------------+
|       0|         0|    6152|      0|            0|        0|           0|
+--------+----------+--------+-------+-------------+---------+------------+

In [25]:
#Feature Transformation

In [26]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, CountVectorizer, IDF, StringIndexer, RegexTokenizer

In [27]:
tokenizer = Tokenizer(inputCol = "OriginalTweet", outputCol = "token_text")
stopremove = StopWordsRemover(inputCol="token_text", outputCol = "stop_tokens")
#Cleaned version of Tokens
#Counting Occurnace of tokens
count_vec = CountVectorizer(inputCol = "stop_tokens", outputCol = "c_vec")
idf = IDF(inputCol = "c_vec", outputCol = "tf_idf")

Corona_to_num = StringIndexer(inputCol = "Sentiment", outputCol = "label")

In [28]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

In [29]:
clean_up = VectorAssembler(inputCols =["tf_idf", "Tweet_length"], outputCol = "features")

In [30]:
#Model

In [31]:
from pyspark.ml.classification import NaiveBayes, RandomForestClassifier, DecisionTreeClassifier

In [32]:
NB= NaiveBayes()
RF = RandomForestClassifier(numTrees = 50)
DTC = DecisionTreeClassifier (maxDepth = 10)

In [33]:
#pipeline

In [34]:
from pyspark.ml import Pipeline

In [35]:
data_prep_pipeline = Pipeline(stages =[Corona_to_num,tokenizer, stopremove,count_vec,idf,clean_up])

In [36]:
cleaner = data_prep_pipeline.fit(df)

In [37]:
clean_data = cleaner.transform(df)

In [38]:
clean_data.show()

+--------+----------+--------------------+----------+--------------------+------------------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|UserName|ScreenName|            Location|   TweetAt|       OriginalTweet|         Sentiment|Tweet_length|label|          token_text|         stop_tokens|               c_vec|              tf_idf|            features|
+--------+----------+--------------------+----------+--------------------+------------------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
|    3799|     48751|              London|16-03-2020|@MeNyrbie @Phil_G...|           Neutral|         111|  2.0|[@menyrbie, @phil...|[@menyrbie, @phil...|(78305,[14499,289...|(78305,[14499,289...|(78306,[14499,289...|
|    3800|     48752|                  UK|16-03-2020|advice Talk to yo...|          Positive|         237|  0.0|[advice, talk, to...|[advice, talk, ne...|(78305,[13,14,133...|(78305,[13,14,133...|(78306,[13,14,133...|
|    3801|     48753|           Vagabonds|16-03-2020|Coronavirus Austr...|          Positive|         131|  0.0|[coronavirus, aus...|[coronavirus, aus...|(78305,[8,14,37,7...|(78305,[8,14,37,7...|(78306,[8,14,37,7...|
|    3804|     48756|ÜT: 36.319708,-82...|16-03-2020|As news of the re...|          Positive|         249|  0.0|[as, news, of, th...|[news, regions, ...|(78305,[7,8,31,47...|(78305,[7,8,31,47...|(78306,[7,8,31,47...|
|    3805|     48757|35.926541,-78.753267|16-03-2020|"Cashier at groce...|          Positive|         184|  0.0|["cashier, at, gr...|["cashier, grocer...|(78305,[3,6,18,60...|(78305,[3,6,18,60...|(78306,[3,6,18,60...|
|    3807|     48759|     Atlanta, GA USA|16-03-2020|Due to COVID-19 o...|          Positive|         280|  0.0|[due, to, covid-1...|[due, covid-19, r...|(78305,[1,6,8,13,...|(78305,[1,6,8,13,...|(78306,[1,6,8,13,...|
|    3808|     48760|    BHAVNAGAR,GUJRAT|16-03-2020|For corona preven...|          Negative|         267|  1.0|[for, corona, pre...|[corona, preventi...|(78305,[11,13,14,...|(78305,[11,13,14,...|(78306,[11,13,14,...|
|    3809|     48761|      Makati, Manila|16-03-2020|All month there h...|           Neutral|         276|  2.0|[all, month, ther...|[month, crowding,...|(78305,[48,70,147...|(78305,[48,70,147...|(78306,[48,70,147...|
|    3811|     48763|          Horningsea|16-03-2020|#horningsea is a ...|Extremely Positive|         278|  3.0|[#horningsea, is,...|[#horningsea, car...|(78305,[13,14,23,...|(78305,[13,14,23,...|(78306,[13,14,23,...|
|    3813|     48765|                null|16-03-2020|ADARA Releases CO...|          Positive|         185|  0.0|[adara, releases,...|[adara, releases,...|(78305,[8,10,23,5...|(78305,[8,10,23,5...|(78306,[8,10,23,5...|
|    3818|     48770|          Denver, CO|16-03-2020|For those who are...|          Positive|         184|  0.0|[for, those, who,...|[struggling,, ple...|(78305,[4,8,24,38...|(78305,[4,8,24,38...|(78306,[4,8,24,38...|
|    3819|     48771|southampton soxx xxx|16-03-2020|with 100  nations...|Extremely Negative|         251|  4.0|[with, 100, , nat...|[100, , nations, ...|(78305,[1,4,9,11,...|(78305,[1,4,9,11,...|(78306,[1,4,9,11,...|
|    3823|     48775|    Downstage centre|16-03-2020|@10DowningStreet ...|          Negative|         255|  1.0|[@10downingstreet...|[@10downingstreet...|(78305,[4,21,44,7...|(78305,[4,21,44,7...|(78306,[4,21,44,7...|
|    3824|     48776|              London|16-03-2020|UK #consumer poll...|Extremely Positive|         278|  3.0|[uk, #consumer, p...|[uk, #consumer, p...|(78305,[10,37,54,...|(78305,[10,37,54,...|(78306,[10,37,54,...|
|    3825|     48777|      Ketchum, Idaho|16-03-2020|In preparation fo...|          Negative|         202|  1.0|[in, preparation,...|[preparation, hig...|(78305,[4,8,24,33...|(78305,[4,8,24,33...|(78306,[4,8,24,33...|
|    3826|     48778| Everywhere You Are!|16-03-2020|This morning I te...|Extremely Negative|         279|  4.0|[this, morning, i...|[morning, tested,...|(78305,[1,7,11,36...|(78305,[1,7,11,36...|(78306,[1,7,11,36...|
|    3829|     48781|                null|16-03-2020|There Is of in th...|          Negative|         114|  1.0|[there, is, of, i...|[country, , empty...|(78305,[1,4,7,34,...|(78305,[1,4,7,34,...|(78306,[1,4,7,34,...|
|    3834|     48786|             Sverige|16-03-2020|Went to the super...|           Neutral|         122|  2.0|[went, to, the, s...|[went, supermarke...|(78305,[5,47,48,6...|(78305,[5,47,48,6...|(78306,[5,47,48,6...|
|    3836|     48788|              Canada|16-03-2020|Worried about the...|          Positive|         225|  0.0|[worried, about, ...|[worried, impact,...|(78305,[8,12,23,2...|(78305,[8,12,23,2...|(78306,[8,12,23,2...|
|    3837|     48789|                null|16-03-2020|my wife works ret...|          Negative|         288|  1.0|[my, wife, works,...|[wife, works, ret...|(78305,[6,28,33,9...|(78305,[6,28,33,9...|(78306,[6,28,33,9...|
+--------+----------+--------------------+----------+--------------------+------------------+------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [39]:
clean_data = clean_data.select(['label','features'])

In [40]:
clean_data.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  2.0|(78306,[14499,289...|
|  0.0|(78306,[13,14,133...|
|  0.0|(78306,[8,14,37,7...|
|  0.0|(78306,[7,8,31,47...|
|  0.0|(78306,[3,6,18,60...|
|  0.0|(78306,[1,6,8,13,...|
|  1.0|(78306,[11,13,14,...|
|  2.0|(78306,[48,70,147...|
|  3.0|(78306,[13,14,23,...|
|  0.0|(78306,[8,10,23,5...|
|  0.0|(78306,[4,8,24,38...|
|  4.0|(78306,[1,4,9,11,...|
|  1.0|(78306,[4,21,44,7...|
|  3.0|(78306,[10,37,54,...|
|  1.0|(78306,[4,8,24,33...|
|  4.0|(78306,[1,7,11,36...|
|  1.0|(78306,[1,4,7,34,...|
|  2.0|(78306,[5,47,48,6...|
|  0.0|(78306,[8,12,23,2...|
|  1.0|(78306,[6,28,33,9...|
+-----+--------------------+
only showing top 20 rows

In [41]:
#ML Training

In [42]:
(training,testing)=clean_data.randomSplit([0.8,0.2])

In [43]:
PredictNB = NB.fit(training)

In [44]:
PredictRF= RF.fit(training)

In [45]:
#testing the model

In [46]:
NB_results = PredictNB.transform(testing)

In [47]:
RF_results = PredictRF.transform(testing)

In [48]:
#DTC_results = PredictDTC.transform(testing)

In [49]:
NB_results.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(78306,[0,1,2,7,1...|[-1207.2654728345...|[1.23172711334096...|       4.0|
|  0.0|(78306,[0,1,2,12,...|[-1155.6053393367...|[4.49669991632944...|       3.0|
|  0.0|(78306,[0,1,2,16,...|[-1247.5586027990...|[0.99992116013007...|       0.0|
|  0.0|(78306,[0,1,2,16,...|[-1388.3384940412...|[5.52243859179497...|       4.0|
|  0.0|(78306,[0,1,2,29,...|[-1850.6003542964...|[2.37600010972831...|       4.0|
|  0.0|(78306,[0,1,2,30,...|[-2398.4784545940...|[0.99998786596188...|       0.0|
|  0.0|(78306,[0,1,2,40,...|[-1477.6725368856...|[6.24553590260341...|       2.0|
|  0.0|(78306,[0,1,3,4,6...|[-1168.4420450442...|[6.68937393488242...|       4.0|
|  0.0|(78306,[0,1,3,4,1...|[-1221.7800777800...|[5.24914792017073...|       2.0|
|  0.0|(78306,[0,1,3,6,7...|[-1305.2735048418...|[4.13570016258484...|       3.0|
|  0.0|(78306,[0,1,3,6,1...|[-1088.0861543391...|[8.99506281025307...|       3.0|
|  0.0|(78306,[0,1,3,6,1...|[-1000.2148739507...|[1.09861119558768...|       4.0|
|  0.0|(78306,[0,1,3,6,1...|[-1132.1674175135...|[0.07463808854436...|       3.0|
|  0.0|(78306,[0,1,3,6,1...|[-955.71473580545...|[6.06690534440760...|       4.0|
|  0.0|(78306,[0,1,3,6,1...|[-1769.4531357523...|[1.36957733619516...|       3.0|
|  0.0|(78306,[0,1,3,6,1...|[-668.95705224869...|[0.01454524823461...|       3.0|
|  0.0|(78306,[0,1,3,6,2...|[-2239.6295000709...|[6.62617176027843...|       4.0|
|  0.0|(78306,[0,1,3,6,5...|[-1942.7170234589...|[0.80789690040752...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[-937.11022960676...|[1.28938581460795...|       3.0|
|  0.0|(78306,[0,1,3,7,1...|[-1719.3600370578...|[5.50314673745056...|       3.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [50]:
RF_results.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(78306,[0,1,2,7,1...|[13.9174724015062...|[0.27834944803012...|       0.0|
|  0.0|(78306,[0,1,2,12,...|[14.4229994994904...|[0.28845998998980...|       0.0|
|  0.0|(78306,[0,1,2,16,...|[13.9739187701817...|[0.27947837540363...|       0.0|
|  0.0|(78306,[0,1,2,16,...|[13.8970632598946...|[0.27794126519789...|       0.0|
|  0.0|(78306,[0,1,2,29,...|[13.7672246487022...|[0.27534449297404...|       0.0|
|  0.0|(78306,[0,1,2,30,...|[14.1322917944135...|[0.28264583588827...|       0.0|
|  0.0|(78306,[0,1,2,40,...|[14.0790984865649...|[0.28158196973129...|       0.0|
|  0.0|(78306,[0,1,3,4,6...|[14.0381486927753...|[0.28076297385550...|       0.0|
|  0.0|(78306,[0,1,3,4,1...|[14.0958876813158...|[0.28191775362631...|       0.0|
|  0.0|(78306,[0,1,3,6,7...|[14.0173479273081...|[0.28034695854616...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0884883822251...|[0.28176976764450...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.2339073223475...|[0.28467814644695...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0884883822251...|[0.28176976764450...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0884883822251...|[0.28176976764450...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0942826517415...|[0.28188565303483...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0166820121111...|[0.28033364024222...|       0.0|
|  0.0|(78306,[0,1,3,6,2...|[14.1821258250740...|[0.28364251650148...|       0.0|
|  0.0|(78306,[0,1,3,6,5...|[14.1299690955647...|[0.28259938191129...|       0.0|
|  0.0|(78306,[0,1,3,6,1...|[14.0239343467383...|[0.28047868693476...|       0.0|
|  0.0|(78306,[0,1,3,7,1...|[13.8297731568071...|[0.27659546313614...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [51]:
#DTC_results.show()

In [52]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [55]:
eva = MulticlassClassificationEvaluator()
acc_NB = eva.evaluate(NB_results)

In [56]:
eva = MulticlassClassificationEvaluator()
acc_RF = eva.evaluate(RF_results)

In [57]:
print("accuracy of the NB and RF is ::", acc_NB, acc_RF)

accuracy of the NB and RF is :: 0.4050110016069719 0.11208634595726202